image: rancher/hardened-build-base:{{build.tag}}
manifests:
  -
    image: rancher/hardened-build-base:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-build-base:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
