name: Check Go versions and create releases
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:
jobs:
  release_go_versions:
    name: Check Go versions and create releases
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: setup ecm-distro-tools
        uses: rancher/ecm-distro-tools@v0.32.0
        with:
          version: v0.27.0
      - name: check go versions and release
        run: |
          rke2_release image-build-base-release --alpine-version 3.18
